$link-color: #2196F3;
$text-color: #333333;
$light-text-color: #666666;
$font-stack: 'Source Sans Pro', sans-serif;
$fixed-width-font-stack: 'Roboto Mono', sans-serif;

body {
  font: 100% $font-stack;
  color: $text-color;
  background-color: #fafafa;
  padding: 0px;
  margin: 0px;
}

a:visited, a:link, a:active {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  text-decoration: underline;
  color: $link-color;
}

h1 {
  border-width: 7px 0px 0px 0px;
  border-color: #333333;
  border-style: solid;
  padding: 7px 0px 0px 0px;
  margin: 0px 0px 21px 0px;
  font-weight: bold;
}

#banner {
  padding: 0px;
  margin: 35px 56px 0px 56px;

  h1 {
    border-style: none;
    margin: 0px;
    font-size: 4em;
  }

  ul {
    padding: 0px;
    list-style: none;
    li {
      padding: 3px 0px 3px 0px;
    }
    li:hover {
      background: #333333;
      color: #fafafa;
    }
  }
}

#footer {
  margin-top: 56px;
  border-color: #e3f0fa;
  border-width: 3px 0px 0px 0px;
  border-style: dotted;
  padding: 28px 56px 28px 56px;
  color: #999999;
}

#container {
  display: flex;
  margin: 56px 0px 35px 56px;
}

#module-list {
  width: 234px;
  margin: 0px;

  .stick {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    overflow: auto;
    height: calc( 100vh - 91px );
  }

  ul {  
    padding: 0px;
    list-style: none;
    li {
      padding: 3px 0px 3px 0px;
    }
    li:hover {
      background: #e3f0fa;
    }
  }

  .selected {
    background: #e3f0fa;
  }
}

#module {
  margin: 0px 56px 0px 56px;
}

#documentation {
  width: 524px;
  line-height: 1.4em;

  code {
    font: 100% $fixed-width-font-stack;
    font-size: 0.9em;
    padding: 1px 3px 1px 3px;
    border-radius: 2px;
    background-color: #f2f2f2;
  }

  pre code {
    padding: 21px;
    background: #ffffff;
    font-size: 0.9em;
  }

  .title {
    font: 100% $fixed-width-font-stack
  }

  .separator::before {
    content: "\00a0";
  }

  .separator::after {
    content: "\00a0";
  }

  .type-args {
    display: inline-block;
  }

  .type-name~.type-args::before {
    content: "\00a0";
  }

  .nested-function>.type-designation:first-child::before {
    content: "("
  }

  .nested-function>.type-designation:last-child::after {
    content: ")"
  }

  .type-name~.type-designation::before {
    content: "\00a0"
  }

  .type-designation>.tuple-part:first-child::before {
    content: "("
  }
  .type-designation>.tuple-part:first-child::after {
    content: ", "
  }
  .type-designation>.tuple-part:last-child::after {
    content: ")"
  }

  .type-name~[data-type-args] {
    >.type-designation::before {
      content: "\00a0"
    }
  }

  [data-type-args]>.type-designation {
    &[data-has-args='true']::before {
      content: " ("
    }
    &[data-has-args='true']::after {
      content: ")"
    }
  }

  .definition {
    display: block;
    line-height: 1.4em;
    margin: 2px 0px 0px 28px;
    white-space: nowrap;
  }

  .definition[data-should-break='true']>.separator {
    &::before {
      content: "\a\00a0\00a0";
      white-space: pre;
    }
  }
}

.overview-block {
  p {
    background-color: #ffffff;
    padding: 0px 28px 21px 28px;
    margin: 0px;
    border-width: 0px 0px 0px 7px;
    border-color: #f2f2f2;
    border-style: solid;
  }

  &>p:first-of-type {
    padding-top: 21px;
  }

  h1+p {
    padding-top: 21px;
  }

  h1 {
    margin: 56px 0px 35px 0px;
    padding-top: 14px;
  }
}

.type-alias-block {
  border-width: 0px 0px 0px 7px;
  border-color: #e3f0fa;
  border-style: solid;
  margin-bottom: 28px;
  background-color: #ffffff;
  
  .definition {
    display: block;
    margin: 2px 0px 0px 28px;
  }

  .type-qualifier {
    color: $light-text-color;
    display: inline-block;
  }

  .type-qualifier::after {
    content: "\00a0";
  }

  .title {
    border-width: 0px 0px 3px 0px;
    border-color: #e3f0fa;
    border-style: dotted;

    padding: 28px 0px 28px 0px;
    margin: 0px 28px 0px 28px;
  }

  .comment {
    padding: 7px 28px 21px 28px;
  }
}

.value-block {
  border-width: 0px 0px 0px 7px;
  border-color: #e3f0fa;
  border-style: solid;
  margin-top: 28px;
  background-color: #ffffff;

  .definition {
    display: inline-block;
  }

  .title {
    border-width: 0px 0px 3px 0px;
    border-color: #e3f0fa;
    border-style: dotted;
    padding: 28px 0px 28px 0px;
    margin: 0px 28px 0px 28px;
  }

  .comment {
    padding: 7px 28px 21px 28px;
  }
}