$link-color: #2196F3;
$text-color: #333333;
$light-text-color: #666666;
$font-stack: 'Source Sans Pro', sans-serif;
$fixed-width-font-stack: 'Roboto Mono', sans-serif;

body {
  font: 100% $font-stack;
  color: $text-color;
  background-color: #fafafa;
  padding: 0px;
  margin: 0px;
}

a:visited, a:link, a:active {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  text-decoration: underline;
  color: $link-color;
}

#module-list {
  background: #f5f5f5;
  width: 230px;
  ul {
    padding: 0px;
    list-style: none;
    li {
      padding: 7px;
    }
    li:hover {
      background: #333333;
      color: #fafafa;
    }
  }

  .selected {
    background: #333333;
    color: #fafafa;
  }
}

#module {
  margin-left: 21px;

  h1 {
    font-size: 2em;
    font-weight: bold;
  }
}

#documentation {
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 14px 0px 14px 0px;
  }

  .title {
    font: 100% $fixed-width-font-stack
  }

  .comment {
    padding-left: 21px;
  }

  .separator {
    display: inline-block;
  }

  .separator::before {
    content: "\00a0";
  }

  .separator::after {
    content: "\00a0";
  }

  .type-arg {
    display: inline-block;
  }

  .type-arg::before {
    content: "\00a0";
  }
}

#container {
  display: flex;
}

.type-alias-block {
  padding-bottom: 28px;

  .definition {
    padding-left: 28px;
  }

  .type-qualifier {
    color: $light-text-color;
    display: inline-block;
  }
  .type-qualifier::after {
    content: "\00a0";
  }

}

.value-block {
  padding-bottom: 28px;

  .definition {
    display: inline-block;
  }

}